body{
    margin: 0;
    font-family: 'Merriweather', sans-serif;
    background-color: #F6F6C9;
    background-image: url("../backg1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    font-family: 'Sacramento', cursive;
    font-size: 350%;
}


.hero-section{
    /*background-color: #153462;*/
    margin-bottom: 100px;
    padding-bottom: 50px;
    color: #F6F6C9;
}

.header-container{
    margin: auto;
    width: 95%;
    display: flex;
	align-items: center;
    justify-content: space-between;
}

.my-logo{
    width: 80px;
    height: 80px;
    margin-top: 20px;
}

.my-nav{
    display: inline-block;
    margin-top: 10px;
}

.my-nav ul{
    display: inline-block;
    display: flex;
}

.my-nav ul li{
    list-style: none;
    display: inline-block;
    padding-left: 50px;
}

.my-nav ul li a{
    text-decoration: none;
    color: #F6F6C9;
    font-size: 20px;
}

.my-nav ul li a:hover{
    color: #BAD1C2;
}

.my-nav i{
    font-size: 40px;
    display: none;
}

.mob-nav{
    background-color: #F6F6C9;
    color: #153462;
    text-align: end;
    display: none;
}

.mob-nav p a{
    padding: 10px 10px 10px 0;
    text-decoration: none;
    color: #153462;
    font-size: 18px;
}

.mob-nav p a:hover{
    background-color: #BAD1C2;
    color: #4FA095;
}

.my-img{
    width: 25%;
    border-radius: 50%;
    float: left;
    border: 4px solid #F6F6C9;
}

.my-img:hover{
    width: 27%;
}

.title{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 150px;
    width: 50%;
}

.title-text{
    padding-top: 1px;
    padding-left: 280px;
}

.title-text h1{
    margin-bottom: 20px;
}

.hero-section hr{
    width: 60%;
}

.hero-section hr:last-child{
    margin-top: 80px;
}

.about-me table{
    margin: auto;
    width: 80%;
}

.desc-col{
    padding-top: 10%;
    font-size: 18px;
    line-height: 2;
}

.em-col{
    padding-top: 0;
}

.about-me em{
    font-family: 'Times New Roman', Times, serif;
    font-size: 90px;
    color: #F05454;
}

.timeline{
    text-align: center;
    font-size: 25px;
    color: #153462;
}

.timeline-hr{
    width: 20%;
    background-color: #153462;
    height: 2px;
}

.main-table{
    margin: auto;
    margin-top: 100px;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    border-collapse: collapse;
}

.date-line{
    font-size: 15px;
    padding: 0 20px;
    color: #4FA095;
    background-color: #F6F6C9;
    border-top: 4px solid #153462;
    border-bottom: 4px solid #153462;
    border-left: 4px solid #153462;
}

.progress-icon{
    font-size: 35px;
    color: #F6F6C9;
    background-color: #153462;
    border-right: 4px solid #153462;
    border-top: 4px solid #153462;
    
}

.blank-cell{
    background-color: #153462;
    border-bottom: 4px solid #153462;
}

.main-title{
    padding-left: 20px;
    font-size: 20px;
    color: #4FA095;
    border-top: 4px solid #153462;
    border-right: 4px solid #153462;
    border-bottom: 4px solid #153462;
}

.main-title h2{
    color: #153462;
}

.timeline-desc{
    padding-left: 20px;
    font-size: 18px;
    line-height: 1.5;
    background-color: #F6F6C9;
    color: #153462;
    border-top: 4px solid #153462;
    border-left: 4px solid #153462;
    border-bottom: 4px solid #153462;
}



.contact-me{
    margin: 100px auto;
    padding: 30px 0;
    padding-bottom: 20px;
    width: 60%;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(30, 39, 39, 0.5);
    box-shadow: 10px 10px 10px 10px rgba(30, 39, 39);
}

.contact-me h3{
    margin-bottom: 30px;
    font-size: 30px;
    color: #F6F6C9;
}
.contact-me input{
    color: #F6F6C9;
    margin: 10px auto;
    display: block;
    width: 60%;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #F6F6C9;
}

input:focus{
    outline: none;
    border-bottom: 3px solid #F05454;
}

.contact-me textarea{
    color: #F6F6C9;
    margin: 30px auto;
    display: block;
    width: 60%;
    height: 80px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #F6F6C9;
}

input::placeholder, textarea::placeholder{
    background-color: transparent;
    color: #F6F6C9;
}

textarea:focus{
    outline: none;
    border-bottom: 3px solid #F05454;
}

.contact-me input:last-of-type{
    background-color: transparent;
    color: #F6F6C9;
    border: 1px solid rgba(30, 39, 39);
    box-shadow: 3px 3px 3px 3px rgba(30, 39, 39);
    border-radius: 10px;
    width: 25%;
    height: 60px;
    font-size: 18px;
    opacity: 1;
}

.contact-me input:last-of-type:hover{
    background-color: #F6F6C9;
    color: #153462;
    border: 1px solid #F6F6C9;
    box-shadow: none;
}

.contact-me a{
    color: black;
}

footer{
    padding-top: 10px;
    background-color: #153462;
    text-align: center;
    color: #F6F6C9;
}

footer a i{
    color: #F6F6C9;
    font-size: 30px;
    padding: 10px 50px;
}

footer a i:hover{
    font-size: 32px;
    box-shadow: 1px 1px #BAD1C2;
}

footer p{
    padding-bottom: 10px;
    margin-bottom: 0;
}

@media(max-width: 1384px){
    .title{
        width: 60%;
    }
}

@media(max-width: 1153px){
    .title{
        width: 70%;
    }
}

@media(max-width: 988px){
	
    body{
        background-image: url("../backg1.jpg");
        background-repeat: repeat-y;
        background-attachment: fixed;
        background-size: contain;
    }
	
    .title{
        width: 80%;
        text-align: center;
        margin-bottom: 70px;
    }

    .my-img{
        width: 30%;
        border-radius: 50%;
        float: none;
        border: 4px solid #F6F6C9;
    }

    .title-text{
        padding-top: 0;
        padding-left: 0;
    }
    
    .title-text h1{
        margin-bottom: 10px;
    }

    .my-nav ul{
        display: none;
    }

    .my-nav i{
        display: block;
        padding: 20px 20px 0 0;
    }

    .mob-nav{
        display: none;
    }

    .mob-nav ul li a{
       font-size: 25px;
    }
}
